Search by restaurant

{{view Ember.Select
  contentBinding="controller.model"
  optionLabelPath="content.name"
  optionValuePath="content.id"
  prompt="Select a restaurant"
}}

Kids only...

# pass in selected value
<button {{action 'search'}}>Search</button>
